:root {
    --primary: #171717;
    --secondary: #F3F3F3;
    --font-1: 'ITC Avant Garde Gothic Medium', sans-serif;
    --font-2: 'ITC Avant Garde Gothic LT Demi Regular', sans-serif;
}

/*---------------fonts-----------------------*/
@font-face {
    font-family: AGGmedium;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}
@font-face {
    font-family: AGGDemiReg;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Demi\ Regular.otf);
}
body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: AGGmedium;   
}
/*----Stylizations for fonts--------*/
h1 {
    margin-bottom: -3.3rem;
    font-size: 4rem;
    font-weight: normal;
    font-family: AGGDemiReg;
}

h2 {
    color: var(--primary);
    -webkit-text-stroke-color: var(--secondary);
    -webkit-text-stroke-width: 2px;
    font-size: 4rem;
    font-weight: normal;
    font-family: AGGDemiReg;
}
p {
    font-family: AGGmedium;
}
/*---Changing links to be inherit color from parent----*/
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.25s;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

/*----layout for desktop/laptop-------*/
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    margin-top: 10rem;
}
.content1{
    margin-top: 5rem;
}

.testImage {
    float: right;
    max-width: 100%;
}

/*----layout for mobile-------*/
/*----On screens that are 1115px wide or less------*/
@media (max-width: 1115px) {
    
    .content1 {
        margin-top: 0;
    }
    
    .testImage {
        padding: 70px 0;
    }
}
/*----On screens that are 768px wide or less------*/
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        margin-top: 0rem;
        margin:1rem;
        margin-bottom: 8rem;

    }

    .content1 {
        margin-top: 1rem;
    }
    .testImage {
        padding: 0px 0;
    }

}
