:root {
    --primary: #171717;
    --secondary: #F3F3F3;
    --font-1: 'ITC Avant Garde Gothic Medium', sans-serif;
    --font-2: 'ITC Avant Garde Gothic LT Demi Regular', sans-serif;
}

/*---------------fonts-----------------------*/
@font-face {
    font-family: AGGmedium;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}
@font-face {
    font-family: AGGDemiReg;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Demi\ Regular.otf);
}
body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: AGGmedium;   
}
/*----Stylizations for fonts--------*/
h1 {
    margin-bottom: -3.3rem;
    font-size: 4rem;
    font-weight: normal;
    font-family: AGGDemiReg;
}

h2 {
    color: var(--primary);
    -webkit-text-stroke-color: var(--secondary);
    -webkit-text-stroke-width: 2px;
    font-size: 4rem;
    font-weight: normal;
    font-family: AGGDemiReg;
}
p {

}
/*---Changing links to be inherit color from parent----*/
a {
    color: inherit;
    text-decoration: none;
}

/*----layout for desktop/laptop-------*/
.page {
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    margin-top: 10rem;
}
.content1{
    margin-top: 5rem;
}

.testImage {
    float: right;
    max-width: 100%;
}

/*----layout for mobile-------*/
@media (max-width: 600px) {
    .mainContent {
        flex-direction: column;
        margin-top: 0rem;
    }

    .content1 {
        margin-top: 1rem;
    }
}

/* OLD
.page {
    height: 90vh;

    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    position: relative;
    box-sizing: border-box;

}
.content {
    display: flex;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

h1 {
    color: var(--secondary);
    font-weight: normal;
    font-size: 5rem;
    margin-bottom: -3rem;
}

h2 {
    color: var(--primary);
    -webkit-text-stroke-color: var(--secondary);
    -webkit-text-stroke-width: 2px;
    font-size: 3.5rem;
    margin-bottom: -3rem;
}

.column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: greenyellow;
    justify-content: center;
}
p {
    color: var(--secondary);
}
a {
    color: inherit;
    text-decoration: none;
}

footer {
    padding: 20px;
    width: 90%;
    
}
*/



