:root {
    --primary: #171717;
    --secondary: #F3F3F3;
    --c1: #e3e8df;
    --c2: #ffc070;
    --c3: #7ccce7;
    --c4: #6497e4;
    --c5: #e880ce;
    --c6: #c94c4e;
    --font-1: 'ITC Avant Garde Gothic Medium', sans-serif;
    --font-2: 'ITC Avant Garde Gothic LT Demi Regular', sans-serif;
}

@font-face {
    font-family: AGGmedium;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}
@font-face {
    font-family: AGGDemiReg;
    src: url(fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Demi\ Regular.otf);
}
body {
    background-color: var(--primary);
    font-family: AGGDemiReg;
}

.page {
    height: 90vh;

    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    position: relative;
    box-sizing: border-box;

}
.content {
    display: flex;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

h1 {
    color: var(--secondary);
    font-weight: normal;
    font-size: 5rem;
    margin-bottom: -3rem;
}

h2 {
    color: var(--primary);
    -webkit-text-stroke-color: var(--secondary);
    -webkit-text-stroke-width: 2px;
    font-size: 3.5rem;
    margin-bottom: -3rem;
}

.column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: greenyellow;
    justify-content: center;
}

p {
    /*font-size: 30px;*/
    color: var(--secondary);
}

a {
    color: inherit;
    text-decoration: none;
}

/*---footer---*/

footer {
    padding: 20px;
    width: 100%;
    
}



